{% extends "base.html" %}
{% load i18n %}
{% load widget_tweaks %}
{% load custom_filters %}

{% block content %}
<div class="panel">
    <div class="grid grid-cols-1">
        <div class="col-span-1">
            <div class="bg-white dark:bg-[#0e1726] rounded-lg shadow-md">
                <div class="p-6 border-b border-[#e0e6ed] dark:border-[#1b2e4b]">
                    <h4 class="text-xl font-semibold text-black dark:text-white-light">{{ page_title }}</h4>    
                </div>
                <div class="p-6">
                    {% if form %}
                    <div id="form-container">
                        {% include "includes/form.html" %}
                    </div>
                    {% endif %}

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

