{% load widget_tweaks %}

<!-- Tour Modal -->
<div class="fixed inset-0 bg-[black]/60 z-[999] hidden overflow-y-auto" :class="tourModal && '!block'">
    <div class="flex items-start justify-center min-h-screen px-4" @click.self="tourModal = false">
        <div class="panel border-0 p-0 rounded-lg overflow-hidden w-full max-w-4xl my-8 animate__animated animate__fadeInUp">
            <div class="flex bg-[#fbfbfb] dark:bg-[#121c2c] items-center justify-between px-5 py-3">
                <h5 class="font-bold text-lg">Tur Ekle</h5>
                <button type="button" class="text-white-dark hover:text-dark" @click="tourModal = false">
                    <i class="fas fa-times"></i>
                </button>
            </div>
            <div class="p-5">
                <form method="post" action="{% url 'tour:create_operation_sub_item_tour' %}">
                    {% csrf_token %}
                    <div class="grid grid-cols-3 gap-4">
                        {% for field in subitem_forms.tour %}
                            <div class="mb-3">
                                <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
                                {% if field.field.widget.input_type == 'select' %}
                                    {% render_field field class="w-full rounded-lg border border-[#e0e6ed] px-4 py-2 text-sm dark:border-[#1b2e4b] dark:bg-[#1b2e4b] dark:text-white-dark searchable-select" %}
                                {% else %}
                                    {% render_field field class="w-full rounded-lg border border-[#e0e6ed] px-4 py-2 text-sm dark:border-[#1b2e4b] dark:bg-[#1b2e4b] dark:text-white-dark" %}
                                {% endif %}
                                {% if field.errors %}
                                    <div class="invalid-feedback d-block">
                                        {{ field.errors }}
                                    </div>
                                {% endif %}
                            </div>
                        {% endfor %}
                        <input type="hidden" name="operation_item_id" :value="selectedItemId">
                    </div>
                    <div class="flex justify-end items-center mt-8">
                        <button type="button" class="btn btn-outline-danger" @click="tourModal = false">İptal</button>
                        <button type="submit" class="btn btn-primary ltr:ml-4 rtl:mr-4">Kaydet</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div> 