{% load custom_filters %}
{% load i18n %}

<tr class="border-b border-[#e0e6ed] dark:border-[#1b2e4b] hover:bg-[#eee] dark:hover:bg-[#1a2941]">
    {% for field in form %}
    <td class="px-4 py-3 text-sm text-black dark:text-white-light">
        {{ item|get_attr:field.name }}
    </td>
    {% endfor %}
    <td class="px-4 py-3 text-sm">
        <div class="flex items-center gap-2">
            <button hx-get="{% url 'tour:update' model=model pk=item.id %}" hx-target="#form-container" hx-swap="innerHTML" class="btn btn-sm btn-warning">
                {% trans "Düzenle" %}
            </button>
            <a href="{% url 'tour:delete' model=model pk=item.id %}" class="btn btn-sm btn-danger">
                {% trans "Sil" %}
            </a>
        </div>
    </td>
</tr>